*.exe
*.dll
*.class
*.jar
*.war
*.ear
*.so
*.obj
*.o
*.a
*.lib
*.pyc
*.pycache/
*.tmp
*.log
*.swp
.DS_Store
/bin/
/obj/
/node_modules/
/packages/
config.ini
.env
secrets.txt
.vscode/
.idea/
.project
.classpath
Thumbs.db
