<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="File" name="customerManagerFile" fileName="C:\logs\customermanager.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

        <target xsi:type="File" name="customerAccountManagerFile" fileName="C:\logs\customeraccountmanager.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

        <target xsi:type="File" name="transactionManagerFile" fileName="C:\logs\transactionmanager.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

        <target xsi:type="File" name="idempotencyManagerFile" fileName="C:\logs\idempotencymanager.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
        
        <target xsi:type="File" name="archiveManagerFile" fileName="C:\logs\archivemanager.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

        <target xsi:type="File" name="accountServiceFile" fileName="C:\logs\accountservice.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

        <target xsi:type="File" name="transactionServiceFile" fileName="C:\logs\transactionservice.log" layout="${longdate}|${message}" />

        <target xsi:type="File" name="transferServiceFile" fileName="C:\logs\transferservice.log" layout="${longdate}|${message}" />

        <target xsi:type="File" name="idempotencyServiceFile" fileName="C:\logs\idempotencyservice.log" layout="${longdate}|${message}" />

        <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="file,console" />

        <logger name="CustomerManagerLogger" minlevel="Info" writeTo="customerManagerFile" />
        
        <logger name="CustomerAccountManagerLogger" minlevel="Info" writeTo="customerAccountManagerFile" />
        
        <logger name="ArchiveManagerLogger" minlevel="Info" writeTo="archiveManagerFile" />
        
        <logger name="IdempotencyManagerLogger" minlevel="Info" writeTo="idempotencyManagerFile" />

        <logger name="TransactionManagerLogger" minlevel="Info" writeTo="transactionManagerFile" />

        <logger name="AccountServiceLogger" minlevel="Info" writeTo="accountServiceFile" />

        <logger name="TransactionServiceLogger" minlevel="Info" writeTo="transactionServiceFile" />

        <logger name="TransferServiceLogger" minlevel="Info" writeTo="transferServiceFile" />

        <logger name="IdempotencyServiceLogger" minlevel="Info" writeTo="idempotencyServiceFile" />
    </rules>
</nlog>
